h2 {
    color: $text_color;
    font-family: $header;
    font-size: 1.3vw;
    padding-bottom: 1vh;
    text-align: center;
}

// Underrubrik för boksida
.myBooks {
    padding-top: 5vh;
    padding-bottom: 3vh;
}